html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 6rem;
  color: #000;
  z-index: 0;

}

#map {
  width: 100%;
  height: 100%;

}
